/* -*- graphviz-dot -*- */
graph {
    cowsay [shape=square,
	    style=filled,
	    label="^__^\n(oo)\n(__)",
	    fontname="__fontname__",
	    fontsize=__fontsize__,
	    color="__bgcolor__",
	    fillcolor="__bgcolor__",
	    fontcolor="__fgcolor__"];
}
